:root {
  /* farver */
  --faded_green: rgb(250, 250, 250);
  --light_grey: rgb(240, 238, 234);
  --white: rgb(250, 250, 250, 1);

  --light_green: rgb(140, 160, 149);
  --dark_green: rgb(81, 95, 88);

  --red: rgb(233, 75, 39);

  --blue: rgb(61, 92, 110);

  --font-h2-mobil: 1.8rem;
  --font-h3-mobil: 1.5rem;
  --font-p-mobil: 1.2rem;

  --font-h2-desk: 2.5rem;
  --font-h3-desk: 2rem;
  --font-p-desk: 1.5rem;

  /* typography 
  --font-size-h1-mobil: 0.7rem;
  --font-size-h2-mobil: 0.8rem;
  --font-size-h3-mobil: 1.5rem;
  --font-size-h4-mobil: 1.3rem;
  --font-size-p-mobil: 1rem;

  --font-size-h1-desk: 1.5rem;
  --font-size-h1-desk-index: 1rem;
  --font-size-h2-desk: 1.5rem;
  --font-size-h3-desk: 1.7rem;
  --font-size-h4-desk: 2rem;
  --font-size-p-desk: 1.5rem;
*/

  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--blue);
}

img {
  max-width: 100%;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 5%;
  text-align: center;
}
