---
import MenuTest from "../components/MenuTest.astro";
import TeamBilleder from "../components/TeamBilleder.astro";
import RePakker from "../components/RePakker.astro";
import RePakkerDesk from "../components/RePakkerDesk.astro";
import Buttons from "../components/Buttons.astro";
import Diagrammer from "../components/Diagrammer.astro";
import Citat from "../components/Citat.astro";
import HvorHvorfor from "../components/HvorHvorfor.astro";
import HvorHvorfor2 from "../components/HvorHvorfor2.astro";
import Footer from "../components/Footer.astro";
import Indicator from "../components/Indicator.astro";
import "../styles/style.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="description" content="i tråd med verden - repair service" />
    <meta name="author" content="MMD studerende hold A gruppe 2" />
    <title>Astro</title>
  </head>

  <body>
    <!-------------------- header ------------------->
    <Indicator />
    <MenuTest />
    <!-------- vores repair service + knap ---------->
    <h2 class="h2">VORES REPAIR SERVICE</h2>
    <div class="mobil">
      <HvorHvorfor gif="../hvorfor.gif" hv_sp="Hvorfor os?" trad="../trad_1.png" p_svar="Styrk din virksomheds ESG-mål. Gør genanvendelse let og tilgængeligt for dine medarbejdere. Støt ITMVs arbejde for flere lønnede timer til syersker." />
      <HvorHvorfor2 trad="../trad_2.png" gif="../hvad.gif" hv_sp="Hvad tilbyder vi?" p_svar="Tilpasning, fornyelse og broderi m.m. af tøj til din virksomheds medarbejdere. Vores team vil sidde klar ved symaskinenerne til at hjælpe.  " />
      <HvorHvorfor gif="../hvor.gif" hv_sp="Hvorhenne?" trad="../trad_1.png" p_svar="Vi kommer ud til din virksomhed med vores repair service. (Københavnsområdet, tilgængeligt med offentlig transport)" />
      <HvorHvorfor2 trad="../trad_2.png" gif="../hvornar.gif" hv_sp="Hvornår?" p_svar="Vi aftaler en fast dag f.eks. hver anden uge eller en gang om måneden. Du afleverer tøj om morgenen og henter det samme dag når arbejdsdagen er slut.  " />
      <div class="hv_container">
        <div class="hv_button">
          <img src="../trad_3.png" alt="" />
          <Buttons buttons_indhold="Bestil repair team her" />
          <img src="../trad_4.png" alt="" />
        </div>
      </div>
    </div>
    <div class="desktop">
      <div class="trad1_desk">
        <img src="trad1_desk.png" alt="" class="trad1_desk" />
      </div>
      <HvorHvorfor gif_desk="../hvorfor.gif" hv_sp_desk="Hvorfor os?" trad_desk="../trad2_desk.png" p_1="Styrk din virksomheds ESG-mål" p_2="Gør genanvendelse let og tilgængeligt for dine medarbejdere." p_3="Støt ITMVs arbejde for flere lønnede timer til syersker." />
      <HvorHvorfor2 gif_desk="../hvad.gif" hv_sp_desk="Hvad tilbyder vi?" p_1="Tilpasning, fornyelse og broderi m.m. af tøj til din" p_2="virksomheds medarbejdere. Vores team vil sidde klar " p_3="ved symaskinenerne til at hjælpe." trad_desk=" ../trad3_desk.png" />
      <HvorHvorfor gif_desk="../hvor.gif" hv_sp_desk="Hvorhenne?" trad_desk="../trad2_desk.png" p_1="Vi kommer ud til din virksomhed med vores repair service." p_2="(Københavnsområdet, tilgængeligt med offentlig transport)" />
      <HvorHvorfor2 gif_desk="../hvornar.gif" hv_sp_desk="Hvornår?" p_1="Vi aftaler en fast dag f.eks. hver anden uge eller en gang om  " p_2="måneden. Du afleverer tøj om morgenen og henter det" p_3="samme dag når arbejdsdagen er slut." trad_desk=" ../trad3_desk.png" />
      <div class="hv_container_desk">
        <div class="hv_button_desk">
          <Buttons buttons_indhold="Bestil repair team her" />
        </div>
        <img src="../trad4_desk.png" alt="" class="trad4_desk" />
      </div>
    </div>

    <!----------- repair team (billeder) ------------>
    <h2 class="h2">VORES REPAIR TEAM</h2>
    <div class="bil_cont">
      <TeamBilleder img="../ira.png" navn="IRA" prof="Syerske" />
      <TeamBilleder img="../luna.png" navn="LUNA" prof="Designassistent" />
      <TeamBilleder img="../olena.png" navn="OLENA" prof="Syerske" />
    </div>
    <!-------------------- video -------------------->
    <video class="video" src="http://elinacreatives.dk/kea/09_indhold/itmv_video_v7.mp4" controls class="video"></video>

    <!------------ rep. pakker + knapper ------------>
    <div class="hv_container">
      <div class="hv_button">
        <img src="../trad_3.png" alt="" />
      </div>
    </div>
    <h2 class="h2 h2_pakker">REPARATIONSPAKKER</h2>
    <div class="background">
      <div class="bil_cont cont_pak pak_mobil">
        <RePakker pak="../pak.png" pakNavn="DEN ENKLE" pakDesc="Repair service én gang." pakDesc_2="6 timer, 3 personer pr. gang." pakDesc_3="Pris: 5400 kr. ex moms." />
        <RePakker pak="../pak.png" pakNavn="DEN MÅNEDLIGE 1/2 ÅR" pakDesc="Repair service én gang om mdr. (6 gange)." pakDesc_2="6 timer, 3 personer pr. gang." pakDesc_3="Pris: 27. 000 kr. ex moms (4500 kr. pr. gang)" />
        <RePakker pak="../pak.png" pakNavn="DEN MÅNEDLIGE 1 ÅR" pakDesc="Repair service én gang om mdr. (12 gange)" pakDesc_2="6 timer, 3 personer pr. gang." pakDesc_3="Pris: 54.000 kr. ex moms (4500 kr. pr. gang) " />
        <RePakker pak="../pak.png" pakNavn="DEN KVARTALE" pakDesc="Repair service én gang i kvartalet (4 gange)" pakDesc_2="6 timer, 3 personer pr. gang." pakDesc_3="Pris: 18.000 kr. ex moms (4500 kr. pr. gang) " />
        <RePakker pak="../pak.png" pakNavn="DEN KONTINUERLIGE" pakDesc="Repair service 2 gange om mdr. (24 gange)" pakDesc_2="6 timer, 3 personer pr. gang." pakDesc_3="Pris: 108. 000 kr. ex moms (4500 kr. pr. gang) " />
        <RePakker pak="../pak.png" pakNavn="DEN INTENSIVE" pakDesc="Repair service en hel uge intensivt (5 dage)" pakDesc_2="6 timer, 2 personer, 5 dage" pakDesc_3="Pris: 20.500 kr. ex moms f (4100 kr. pr. gang) " />
      </div>
      <div class="pak_desktop">
        <RePakkerDesk img="../pak_2.png" navn="DEN ENKLE" desc="Repair service én gang" desc_2="6 timer, 3 personer pr. gang." desc_3="Pris: 5400 kr. ex moms" />
        <RePakkerDesk img="../pak_2.png" navn="DEN MÅNEDLIGE 1/2 ÅR" desc="Repair service én gang om mdr. (6 gange)" desc_2="6 timer, 3 personer pr. gang." desc_3="Pris: 27. 000 kr. ex moms (4500 kr. pr. gang)" />
        <RePakkerDesk img="../pak_2.png" navn="DEN MÅNEDLIGE 1 ÅR" desc="Repair service én gang om mdr. (12 gange)" desc_2="6 timer, 3 personer pr. gang." desc_3="Pris: 54.000 kr. ex moms (4500 kr. pr. gang) " />
        <RePakkerDesk img="../pak_2.png" navn="DEN KVARTALE" desc="Repair service én gang i kvartalet (4 gange)" desc_2="6 timer, 3 personer pr. gang." desc_3="Pris: 18.000 kr. ex moms (4500 kr. pr. gang) " />
        <RePakkerDesk img="../pak_2.png" navn="DEN KONTINUERLIGE" desc="Repair service 2 gange om mdr. (24 gange)" desc_2="6 timer, 3 personer pr. gang." desc_3="Pris: 108. 000 kr. ex moms (4500 kr. pr. gang) " />
        <RePakkerDesk img="../pak_2.png" navn="DEN INTENSIVE" desc="Repair service en hel uge intensivt (5 dage)" desc_2="6 timer, 2 personer, 5 dage" desc_3="Pris: 20.500 kr. ex moms f (4100 kr. pr. gang) " />
      </div>
      <div class="but_2">
        <Buttons buttons_indhold="Bestil repair team her" class="but_pad" />
        <Buttons buttons_indhold="Donér til ITMV" class="but_pad" />
      </div>
    </div>

    <!----------- samarbejde + diagrammer ----------->
    <div class="diagrammer">
      <img src="../trad_4.png" alt="" class="trad_forskel" />
      <h2 class="h2">DIT SAMARBEJDE GØR EN FORSKEL</h2>
      <Diagrammer />
      <!--------- citater fra virksomheder ------------>
      <div class="diagrammer">
        <img src="../trad_3.png" alt="" class="trad_forskel" />
        <h2 class="h2">HVAD SIGER VORES KUNDER</h2>
        <Citat />
        <img src="hjerte.png" alt="" class="hjerte" />
      </div>
    </div>
    <!-------------------- footer ------------------->
    <Footer />
  </body>
</html>
<style>
  .hv_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hv_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }

  .hv_container_desk {
    display: none;
  }

  .bil_cont {
    padding: 10% 0 5% 0;
    background-color: var(--light_grey);
  }

  .background {
    background-color: var(--light_grey);
    padding-bottom: 5%;
  }
  .h2_pakker {
    padding-top: 15%;
  }
  .cont_pak {
    padding: 10% 5%;
  }

  .but_2 {
    display: flex;
    justify-content: center;
  }

  .desktop {
    display: none;
  }

  .h2 {
    padding-top: 3%;
    font-size: var(--font-h2-mobil);
  }

  .pak_desktop {
    display: none;
  }

  .diagrammer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trad_forskel {
    padding-top: 5%;
  }

  .hjerte {
    padding: 0 20% 10% 0;
  }
  @media screen and (min-width: 800px) {
    .mobil {
      display: none;
    }

    .desktop {
      display: block;
    }

    .h2 {
      font-size: var(--font-h2-desk);
    }

    .trad1_desk {
      padding: 0 0 2% 12%;
      max-width: 70%;
    }

    .trad4_desk {
      max-width: 30%;
      margin-left: 20%;
    }

    .hv_container {
      display: none;
    }
    .hv_button {
      display: none;
    }
    .hv_container_desk {
      display: block;
    }
    .hv_button_desk {
      display: flex;
      flex-direction: column;
      padding: 0 0 5% 10%;
    }

    .bil_cont {
      display: flex;
      padding: 0;
    }

    .cont_pak {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 5%;
    }

    .pak_mobil {
      display: none;
    }

    .but_2 {
      display: flex;
      justify-content: space-around;
      margin: 0 28%;
    }

    .pak_desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 5%;
    }

    .hjerte {
      padding: 0 10% 10% 0;
    }
  }
</style>
