---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>

    <!-------------------- header ------------------->

    <!-------- vores repair service + knap ---------->

    <!----------- repair team (billeder) ------------>

    <!-------------------- video -------------------->
    <video class="video" src="http://elinacreatives.dk/kea/09_indhold/itmv_video_v7.mp4" controls class="video"></video>

    <!------------ rep. pakker + knapper ------------>

    <!----------- samarbejde + diagrammer ----------->

    <!--------- citater fra virksomheder ------------>

    <!-------------------- footer ------------------->
  </body>
</html>
