---

---

<div class="container">
  <div>
    <p class="stor">VÆRKSTEDER</p>
    <p class="sm">Lundtoftegade 23, 1 sal 2200 København N</p>
    <p class="sm">Nygårdterasserne 213A 3520 Farum</p>
  </div>

  <div>
    <p class="stor">KONTAKT</p>
    <p class="sm">Mail: itmv@itmv.dk Telefon: +45 60877307 CVR: 34449686</p>
    <img src="fac.png" alt="" />
    <img src="insta.png" alt="" />
    <img src="linkd.png" alt="" />
  </div>
</div>

<style>
  .container {
    background-color: var(--blue);
  }

  .stor,
  .sm {
    color: var(--white);
  }
</style>
